/*index.html*/
header {
    background-color: rgb(132, 59, 59);
    height: 11vh;
    display: flex;
    align-items: center;
    top:0;
    left: 0;
    width: 100%;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0.6%;
    margin-left: 3%;
  }
  
  nav {
    display: flow-root;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 1.3em;
    font-family: system-ui;
    justify-content: space-around;

  }


  /*vitz.html*/


.background-section {
  background-color: #7e1414;
  position: relative;
  display: inline-block;
  height: 50vh;
}    



.text-overlay {
  color:rgb(255, 255, 255);
  margin-inline-start: 2vw;
  margin-inline-end: 1vw;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: block; 
}    

p{
  line-height: 30px;
}

.icones{
  display: inline-block;
  margin-left: 7vh;
  align-items: center;
}

.zaplalas{
  margin-bottom: 9vh;
}

.lalas{
  display: inline-block;
  margin: 0%;
}

.mia{
  display: inline-block;
  margin: 0%;
}

.vitz{
  display: inline-block;
  margin: 0%;
}

.lalasnome{
  color: black;
  text-align: center;
  font-size: 21px;
}

.mianome{
  color: black;
  text-align: center;
  font-size: 21px;
  margin-left: 15vh;
}

.vitznome{
  color: black;
  text-align: center;
  font-size: 21px;
  margin-left: 15vh;
}

h1{
  color: black;
  margin-top: 14vh;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}