/*index.html*/
header {
    background-color: rgb(126, 43, 43);
    height: 11vh;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0.6%;
    margin-left: 3%;
  }
  
  nav {
    display: flow-root;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 1.3em;
    font-family: system-ui;
    justify-content: space-around;

  }

 .carrossel {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carrosselDentro {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carrossel-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.carrossel-item img {
  width: 100%;
}